
body {
    background-color: lightgray;
    font-family: 'Montserrat', sans-serif;
}

.heading {
    text-align: center;
    margin-top: 12px;
}

/* Progress Bar */
.progress-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    counter-reset: step;
    margin-bottom: 2rem;
}

.progress-bar::before, .progress {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 75%;
    background-color: darkgray;
}

.pbstep {
    width: 2rem;
    height: 2rem;
    background-color: darkgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.pbstep-active {
    background-color: #df3f8d;
}

.pbstep::before {
    counter-increment: step;
    content: counter(step);
}

.pbstep::after {
    content: attr(data-title);
    position: absolute;
    top: 50px;
    font-size: 0.85rem;
    color: #666;
}

.progress {
    background-color: #df3f8d;
    width: 0%;
    
}

/* Form */

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.container {
    background-color: white;
    box-shadow: 0 0 20px #00000020;
    border-radius: 8px;
    width: 90%;
    max-width: 450px;
    padding: 20px;
}

.step {
    display: none;
    animation: animate 0.5s;
    transform-origin: top;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.step.active {
    display: block;
}

.prev-btn {
    float: left;
}

.next-btn, .submit-btn {
    float: right;
}

/* Registration Form */
.register {
    max-width: 700px;
}